[project]
name = "02-vector-search"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "jupyter>=1.1.1",
    "notebook>=7.5.2",
    "qdrant-client[fastembed]>=1.14.2",
]
